<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".build\lib\nuget" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Apokee" value="https://www.myget.org/F/apokee/api/v3/index.json" />
  </packageSources>
</configuration>
